:root{
--bg:#f7f7f7;
--text:#222;
--accent:#7BAE7F;
}

body.dark{
--bg:#111;
--text:#eee;
--accent:#6EDC9F;
}

body{
background:var(--bg);
color:var(--text);
font-family:sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.container{
text-align:center;
}

.session-box{
position:absolute;
top:20px;
right:25px;
font-size:14px;
opacity:0.8;
}

.timer{
position:relative;
width:220px;
height:220px;
margin:auto;
margin-bottom:20px;
}

.progress-ring{
transform:rotate(-90deg);
}

.progress-ring-bg{
fill:none;
stroke:#ddd;
}

.progress-ring-circle{
fill:none;
stroke:var(--accent);
stroke-linecap:round;
transition:stroke-dashoffset 1s linear;
}

.time{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:36px;
font-weight:600;
}

button{
margin:6px;
padding:10px 16px;
border:none;
border-radius:30px;
background:var(--accent);
color:white;
cursor:pointer;
}

.todo-panel{
display:none;
margin-top:20px;
}

.todo-panel.open{
display:block;
}

.completed{
text-decoration:line-through;
opacity:0.6;
}
.pip-btn{

position:fixed;
bottom:20px;
left:20px;

padding:10px 16px;

border:none;
border-radius:30px;

background:var(--accent);
color:white;

cursor:pointer;

z-index:1000;

}

